In [1]:
import seaborn as sns
import pandas as pd
import numpy as np

# Misc Useful Functions

Pandas sangatlah besar dan memiliki ratusan fungsi. Jadi kita tidak akan membahas semuanya di sini, tapi saya akan menunjukkan beberapa yang paling berguna:


Kali ini setiap fungsi memiliki sedikit dokumentasi, jadi mari langsung masuk.

In [2]:
tips = sns.load_dataset('tips')
tips.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

## Sample

Cukup berguna. Mari Anda mendapatkan sampel dari dataframe.

http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#selecting-random-samples

In [3]:
tips.sample(5)

     total_bill   tip     sex smoker   day    time  size
203       16.40  2.50  Female    Yes  Thur   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
107       25.21  4.29    Male    Yes   Sat  Dinner     2
5         25.29  4.71    Male     No   Sun  Dinner     4
25        17.81  2.34    Male     No   Sat  Dinner     4

In [4]:
tips.sample?

## isin

Fungsi berikutnya yang sangat berguna disebut is in. Ini diterapkan ke seluruh kolom dan sangat berguna dalam memilih baris tertentu

http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-with-isin

In [5]:
is_weekend = tips.day.isin(['Sat', 'Sun']).sample(5)
is_weekend

193    False
143    False
50      True
22      True
221    False
Name: day, dtype: bool

In [6]:
tips[tips.day.isin(['Sat', 'Sun'])].sample(5)

     total_bill   tip   sex smoker  day    time  size
218        7.74  1.44  Male    Yes  Sat  Dinner     2
116       29.93  5.07  Male     No  Sun  Dinner     4
55        19.49  3.51  Male     No  Sun  Dinner     2
1         10.34  1.66  Male     No  Sun  Dinner     3
233       10.77  1.47  Male     No  Sat  Dinner     2

## drop_duplicates

Yang ini adalah fungsi yang sangat berguna dalam banyak hal, dan berfungsi di lebih dari satu kolom

http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#duplicate-data

In [7]:
tips[['time', 'day']].drop_duplicates(keep='first')

       time   day
0    Dinner   Sun
19   Dinner   Sat
77    Lunch  Thur
90   Dinner   Fri
220   Lunch   Fri
243  Dinner  Thur

## cut

Ini akan memotong data numerik menjadi grup yang sama dan kemudian menetapkan label tergantung pada grup. Sangat berguna dan jika Anda membutuhkan sesuatu yang lebih terperinci, Anda dapat menggunakan qcut.

http://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html#tiling

In [8]:
pd.cut(tips['total_bill'], 3, labels=['low', 'mid', 'high']).head()

0    low
1    low
2    mid
3    mid
4    mid
Name: total_bill, dtype: category
Categories (3, object): ['low' < 'mid' < 'high']

## str

Fungsi str sangat berguna dan ada banyak sekali. Jika Anda perlu menghitung operasi string pada kolom, lihat dulu di sini.

http://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

In [9]:
tips.sex.str.lower().head()

0    female
1      male
2      male
3      male
4    female
Name: sex, dtype: object

## NaN

Ada tiga yang cukup berguna:

* isna
* fillna
* dropna

In [10]:
tips.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [11]:
tips.tip.fillna(0, inplace=True)

In [12]:
tips.dropna(axis=1, how='any', inplace=True)

## corr

Hitung korelasi. Cukup mudah

http://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html#correlation

In [13]:
tips[['tip', 'total_bill']].corr('pearson')

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

## rank

Ini akan menghitung peringkat setiap entri di kolom.

http://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html#peringkat-data

In [14]:
tips.tip.rank().head()

0      5.0
1     33.0
2    177.0
3    165.0
4    185.0
Name: tip, dtype: float64

## rename

Ganti nama meskipun tidak sepenuhnya diperlukan, ini adalah fungsi yang bagus. Anda dapat mengganti nama kolom atau indeks.

http://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html#renaming-mapping-labels

In [15]:
tips.rename(columns={'total_bill': 'bill'}, inplace=True)

## itertuples


Ada beberapa iterasi untuk dataframe. Saya akan sangat memperingatkan Anda untuk tidak menggunakan ini kecuali Anda benar-benar yakin bahwa Anda tahu apa yang Anda lakukan. Ini tidak terlalu cepat dibandingkan dengan banyak fungsi, tetapi ketika bekerja dengan dataframe kecil, fungsi ini bisa sangat berguna.

http://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html#itertuples

In [16]:
for tup in tips.itertuples():
    print(tup)
    break

Pandas(Index=0, bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2)